footer {
    width: 100%;
    margin-top: 20px;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }

    .footer {
        background-color: black;
        width: 100%;
        
        .footerWrapper {
            max-width: 1440px;
            padding: 50px 5%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            align-items: center;
        }

        &--text {
            color: white;
            max-width: 300px;
        }
    }
}

@media screen and (min-width:992px) {
    footer {
        .footer {
            .footerWrapper {
                margin: auto;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}